[submodule "janus/janus-gateway"]
	path = janus/janus-gateway
	url = git@github.com:shield-ai/janus-gateway
[submodule "cpulimit/cpulimit"]
	path = cpulimit/cpulimit
	url = git@github.com:shield-ai/cpulimit
[submodule "ceres/ceres-solver"]
	path = ceres/ceres-solver
	url = git@github.com:shield-ai/ceres-solver
