[submodule "janus/janus-gateway"]
	path = janus/janus-gateway
	url = https://github.com/shield-ai/janus-gateway
[submodule "cpulimit/cpulimit"]
	path = cpulimit/cpulimit
	url = https://github.com/shield-ai/cpulimit
[submodule "ceres/ceres-solver"]
	path = ceres/ceres-solver
	url = https://github.com/shield-ai/ceres-solver
[submodule "gtsam/gtsam"]
	path = gtsam/gtsam
	url = https://bitbucket.org/gtborg/gtsam.git
[submodule "toon/TooN"]
	path = toon/TooN
	url = https://github.com/edrosten/TooN.git
[submodule "cvars/CVars"]
	path = cvars/CVars
	url = https://github.com/arpg/CVars.git
[submodule "cppcheck/cppcheck"]
	path = cppcheck/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "googletest/googletest"]
	path = googletest/googletest
	url = https://github.com/google/googletest.git
